*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-family: Arial, Helvetica, sans-serif;
    /* Phông chữ cho các thẻ */
}
#main{
    
}

#header{
    height:46px;
    background-color: orange;
    position: fixed; /* bám dính thanh layout*/
    top: 0;
    left: 0;
    right: 0;
}
#nav{
    display: inline-block;
}
#nav, .subnav{
      list-style: none; /* bỏ dấu chấm nhỏ */
}
#nav li{
    position: relative; /* căn ngang */
}
#nav >li >a{
    color: #ffff;
    text-transform: uppercase; /* Viet hoa toan bo the li > a */
}
#nav >li{
    display: inline-block;
}
#nav li a{
    color :white;
    text-decoration: none; /* gạch chân dưới chữ */
    line-height: 46px; /* cân lề trên cân bằng chữ */
    padding: 0 12px; /* cần bằng khoảng cách giữa các chữ */
    display: block; /* bôi màu toàn bộ thẻ */
}
#nav li:hover .subnav{
    display: block;
}
#nav > li:hover> a,
#nav .subnav li:hover a{
    color: black;
    background-color: #cccc;
}
#nav .subnav{
    display: none; /* ẩn các con của cột */
    position: absolute; /* căn dọc */
    min-width: 200px; /* độ rộng hộp */
    top :100%;
    left:0;
    background-color:  #ffff;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}
#nav .subnav a{
    color: black;
    padding: 0 6px;
    line-height: 38px;
}
#nav .subnav{
    display: none;
    position: absolute;
    min-width: 160px;
    top :100%;
    left :0;
    background-color: #ffff;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}
#nav, .subnav1{
    list-style: none;
}
#nav li:hover .subnav1{
    display: block;
}
#nav >li:hover>a,
#nav .subnav1 li:hover a{
    color: black;
    background-color: #cccc;
}
#nav .subnav1{
    display: none;
    position: absolute;
    min-width: 160px;
    top : 100%;
    left :0 ;
    background-color:white;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}
#nav .subnav1 a{
    color: black;
    padding: 0 12px;
    line-height: 38px;
}
#nav .logo1{
    font-size: 12px;
}
#nav .logo2{
    font-size: 12px;
}
#header .search-btn{
    float :right;
    padding: 0 21px;
}
#header .search-icon{
    color:black;
    font-size: 20px;
    line-height: 46px;
}
#header .search-btn:hover{
    background-color: #f44336;
    cursor: pointer; /*Thay đổi hình dạng trỏ chuột*/

}
#slider{
    margin-top: 46px;
  }

#slider{
   
}
#content{

}
#footer{

}