* {
	margin: 0;
	padding: 0;
	outline: none;
	list-style: none;
	box-sizing: border-box;
	font-family:  'Inter', sans-serif;
	letter-spacing: 0.20px;
	line-height: 1.7;
}

html {
	font-size: 14px;
}
body {
	background: #fff;
/*	height: 5000px;*/
}
a:hover {
	text-decoration: none!important;
}
ul {
	margin: 0!important;
}
p {
	margin: 0!important;
}

.contact-info__list > img{
	display: block;
    width: 100%;
    height: 44px;
    -o-object-fit: cover;
    object-fit: cover;
}
img {
	/* max-width: 100%; */
	vertical-align: middle;
	 border-style: none;
	 object-fit: cover; 
}
.bgc {
	background-color: #f3f3f3;
}
.align-items-center {
	align-items: center;
}
.container {
	max-width: 1270px!important;
}
.header-top {
	padding: 10px;
	background-color: #db4533;
}
.contact-info {
	display: flex;
	align-items: center;
}
.contact-info-right {
	justify-content: flex-end;
	align-items: center;
}
.contact-info__list {
	padding: 0 5px;
	line-height: 1.2;
    font-size: 14px;
    font-weight: 400;
    color: #fff;
}
.form-control{
	height: 44px !important;
	background: #f4f6fa !important;
	border: none !important;
}
.nav-link{
	color: black;
}
.corporate-icon{
	padding: 16px 2px;
}
/* HEADER-BOTTOM */
.product{
	margin-bottom: 30px;
}
.product-title {
    font-size: 16px;
    font-weight: bold;
	
}
/*.category-nav .category-nav_title {
    padding: 10px 0 0 0;
}*/
.custom-element {
	display: flex;
	align-items: center;
}
.custom-element:first-child {
	margin-left: 15px;
}
.history-view, .hotdeal, .flash-sale, .location, .contact {
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #161616;
}
.history-view_product, .hotdeal_product, .flash-sale_product, .location_shop, .contact_phone {
	color: #161616;
	padding-right: 50px;
	padding-left: 5px;
}
.fa-history-view, .fa-location, .fa-contact {
	border: 1px solid;
	padding: 6px;
	border-radius: 16px;
	color: white;
	background-color: rgb(93, 143, 163);
}
.fa-hotdeal {
	border: 1px solid;
	padding: 6px;
	border-radius: 26px;
	color: white;
	background-color: rgb(255, 149, 0);
}
.fa-flash-sale {
	border: 1px solid ;
	padding: 6px;
	border-radius: 25px;
	color: white;
	background-color: rgb(255, 45, 85);
}
.fa-location {
	border: 1px solid;
	padding: 6px;
	border-radius: 25px;
	color: white;
	background-color: rgb(31, 159, 252);
}
.fa-contact {
	border: 1px solid;
	padding: 6px;
	border-radius: 25px;
	color: white;
	background-color: #ce0021;
}
/* BANNER */
.banner-background{
	padding-top: 40px;
	background: url('../images/home7_bg.png');
}
.box-slide #prev:hover{
	display:block;
	color: red;
	border: 1px solid#CE0021;
}
.box-slide #next:hover {
    display: block; 
    color: red;
    border: 1px solid #CE0021;
}
.hero-area {
	background: #fff;
    padding-top: 25px;
	
}
#slide-img{
	width: 1200px;
	height: 450px;

}
#prev ,#next{
	line-height: 37px;
	width: 35px;
	height: 35px;
	border: 1px solid #bdbdbd;
	border-radius: 50%;
	text-align: center;
	color: #bdbdbd;
	font-size: 20px;
	cursor: pointer;
	position: absolute;
	bottom: 50%;
}
#prev {
	left: 30px;
}
#next {
	right: -35px;
}


/* Optional: Style for navigation buttons */
.slick-prev,
.slick-next {
    line-height: 28px; 
    width: 30px; 
    height: 30px;
    border: 1px solid #4366c5; 
    border-radius: 50%;
    background: none;
    text-align: center; 
    color: #4366c5;
    font-size: 20px;
    cursor: pointer; 
    position: absolute; 
    bottom: 50%;
    z-index: 99999;
    outline: none!important;
}
.slick-prev {
    left: 10px;
}
.slick-prev:hover {
	color: #e01a22;
	border: 1px solid #e01a22;
}
.slick-next {
    right: 10px;
}
.slick-next:hover {
	color: #e01a22;
	border: 1px solid #e01a22;
}
/* LIST PRODUCT */

.card {
	background-color: #fff;
    border-radius: 12px;
    box-shadow: 0px 5px 30px #00000020;
    transition: all 0.3s linear;
    padding: 15px;
	overflow: hidden;
    transition: all 0.25s linear;
}

.card-img :hover{
	transform: scale(1.1);
}
.card-img{
	width: 100%;
    height: 300px;
    border-radius: 12px;
    display: inline-block;
    overflow: hidden;
}
.card .card-img img{
	transition: all 0.3s linear;
	border-radius: 12px;
	transform: scale(1);
	object-fit: cover;
	width: 100%;
	height: 100%;
}
.card .car-info{
	position: relative;
	width: 100%;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
	padding: 15px 0;

}

.card .cart-info{
	font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: #333333;
    text-align: left;
    transition: all 0.25s linear;
    text-decoration: none;
}

.card .card-info p:hover {
    color: #4366c5;
    z-index: 1; /* Đảm bảo rằng văn bản được hiển thị trên top */
}
.card:hover {
	box-shadow: 0 10px 20px #00000066;
    transform: translateY(-15px);
    transition: all 0.25s linear;
}
.card:hover .card-img img {
	transform: scale(1.2);
    transition: all 0.25s linear;
}
.card-info .btn-card-book {
	display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.card-info .btn-card-book button {
	position: relative;
    z-index: 1;
    border: none;
    border-radius: 12px;
    height: 52px;
    outline: none;
    background-color: #4366c5;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    box-shadow: 0 0 20px #00000033;
    cursor: pointer;
}
/* Title card */
.card-title > a{
	font-weight: 700;
	color: black;
}
.card-text{
	color: #adadad;
}
/* Btn-buy */
.btn-buy{
	background: linear-gradient(90deg,#292626, #776d6d );
}
.btn-block{
	color: #fff;
}

/* Btn-add-card*/
.btn-view{
	float: right;
}

.card-info .btn-view {
	position: absolute;
    bottom: 0;
	left: 30px;
    overflow: hidden;
    background: linear-gradient(90deg, #4366c5, #88a9e0);
    background-color: transparent;
    transition: all 0.3s linear;
}
.card-info .btn-card-book .btn-view a {
	position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
    color: #fff;
    font-size: 16px;
    font-weight: 300;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
.card-info .btn-card-book .btn-view a>span {
	color: #fff;
    font-size: 12px;
    transition: all 0.3s linear;
    margin-left: 4px;
}
.card-info .btn-card-book .btn-view i {
	color: #fff;
    font-size: 16px;
    transition: all 0.3s linear;
}
.btn-view:hover a>span {
	font-size: 0;
    transform: translateX(90px);
    transition: all 0.3s linear;
}
.btn-view:hover a>i{
	transform: translateX(-34px);

}
.btn-load{
	background: linear-gradient(90deg,#5be638, #b0e8a0 );
	font-weight: 600;
}

/* Footer */
.box-footer {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f3f3f3;
    border-top: 2px solid #EE2D14;
    flex-direction: column;
    margin-top: 80px;
}
.box-footer .wrap-footer {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 60px;
    padding: 80px 0;
}
.box-footer .wrap-footer .logo-company {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 30%;
}
.box-footer .wrap-footer .logo-company a {
    color: #282828;
    display: inline-block;
    height: auto;
    width: 80%;
}
.box-footer .wrap-footer .list-footer {
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: flex-start;
    justify-content: space-between;
    gap: 60px;
    width: 100%;
}
.list-footer .menu-footer, .list-footer .support-footer, .list-footer .contact-footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 15px;
}
.list-footer .menu-footer a:first-child {
    font-size: 24px;
    font-weight: 600;
    color: #282828;
}
.box-footer .list-footer a:hover {
	color: #e01a22;
}
.list-footer .menu-footer a, .list-footer .support-footer a, .list-footer .contact-footer a {
    color: #282828;
    font-size: 16px;
    font-weight: 300;
}
.list-footer .menu-footer>span, .list-footer .support-footer>span, .list-footer .contact-footer>span {
    font-size: 24px;
    font-weight: 600;
    color: #333;
}
.list-footer .contact-footer a {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}
.list-footer .contact-footer a i {
    font-size: 18px;
    color: #e01a22;
}
.list-footer .contact-footer .contact-icon {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}
.list-footer .contact-footer .contact-icon a i {
    font-size: 24px;
    color: #333;
    font-weight: 300;
}
.box-footer .copyright-footer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 0;
    background-color: #e01a22;
    margin-bottom: 10px;
}
.box-footer .copyright-footer span {
    color: #fff;
    font-size: 16px;
    font-weight: 300;
    text-align: center;
}
